body {
  margin: 0;
}

header {
  background-color: peru;
  height: 10vh;
  display: flex;
}

main {
  background-color: aliceblue;
  height: 85vh;
  display: flex;
}

aside {
  background-color: chartreuse;
  flex: 1;
}

content {
  background-color: darkgoldenrod;
  flex: 3;
}

footer {
  background-color: cadetblue;
  height: 5vh;
}

#logo {
  background-color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 64px;
  height: 64px;
}

.title {
  padding-left: 6px;
}

.menu {
  background-color: turquoise;
  flex: 3;
}